In [2]:
#Import dependencies

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [3]:
# Read the CSV files that has data

train_data_df = pd.read_csv("train.csv")
test_data_df = pd.read_csv("test.csv")

train_data_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Create a dataframe for Replacement of null values

replacement_unknown_values = pd.DataFrame({
    "Unknwown Fare":train_data_df['Fare'].mode(),
    "Unknown Embark Point":train_data_df['Embarked'].mode(),
    "Unknown Age":train_data_df['Age'].median()})

replacement_unknown_values

   Unknwown Fare Unknown Embark Point  Unknown Age
0           8.05                    S         28.0

In [5]:
# Replacing null values (NaN) 

train_data_df["Age"] = train_data_df["Age"].fillna(28)
test_data_df["Age"] = test_data_df["Age"].fillna(28)

train_data_df["Embarked"] = train_data_df["Embarked"].fillna('S')
test_data_df["Embarked"] = test_data_df["Embarked"].fillna('S')

train_data_df["Fare"] = train_data_df["Fare"].fillna(8.05)
test_data_df["Fare"] = test_data_df["Fare"].fillna(8.05)

sex_mapping = {'male': 0, 'female': 1}
embarked_mapping = {'C': 1, 'Q': 2, 'S': 3}

train_data_df['Sex'] = train_data_df['Sex'].map(sex_mapping)
train_data_df['Embarked'] = train_data_df['Embarked'].map(embarked_mapping)

train_data_df.head()

test_data_df['Sex'] = test_data_df['Sex'].map(sex_mapping)
test_data_df['Embarked'] = test_data_df['Embarked'].map(embarked_mapping)

In [12]:
#Check null values
train_data_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [13]:
#Drop unwanted columns

train_data_df_new = train_data_df.drop(['Name', 'Ticket', 'Cabin'],axis=1,inplace=False)
train_data_df_new

test_data_df_new = test_data_df.drop(['Name', 'Ticket', 'Cabin'],axis=1,inplace=False)
test_data_df_new

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0              1         0       3    0  22.0      1      0   7.2500         3
1              2         1       1    1  38.0      1      0  71.2833         1
2              3         1       3    1  26.0      0      0   7.9250         3
3              4         1       1    1  35.0      1      0  53.1000         3
4              5         0       3    0  35.0      0      0   8.0500         3
..           ...       ...     ...  ...   ...    ...    ...      ...       ...
886          887         0       2    0  27.0      0      0  13.0000         3
887          888         1       1    1  19.0      0      0  30.0000         3
888          889         0       3    1  28.0      1      2  23.4500         3
889          890         1       1    0  26.0      0      0  30.0000         1
890          891         0       3    0  32.0      0      0   7.7500         2

[891 rows x 9 columns]

In [14]:
# Assign X (data) and y (target)

X = train_data_df_new.drop("Survived", axis=1)
y = train_data_df_new["Survived"]
print(X.shape, y.shape)

(891, 8) (891,)

In [15]:
#Split data in to training and testing dataset

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [16]:
#Create Logistic Regression model

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [17]:
#Fit the model

classifier.fit(X_train, y_train)

C:\Users\conne\Anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [18]:
# Validate the model 

print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8053892215568862
Testing Data Score: 0.7982062780269058

In [19]:
# Make predictions

predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [1 0 1 1 1 0 0 1 0 1]
First 10 Actual labels: [1, 0, 1, 0, 1, 0, 0, 1, 0, 1]

In [20]:
#
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

     Prediction  Actual
0             1       1
1             0       0
2             1       1
3             1       0
4             1       1
..          ...     ...
218           1       1
219           0       0
220           0       1
221           0       0
222           0       1

[223 rows x 2 columns]