In [1]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(42)

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import pandas as pd

In [3]:
df = pd.read_csv('titanic_data/processed_data.csv')
df.head()

,pclass,survived,sex,age,sibsp,parch,fare,embarked,Title,relatives,not_alone
0,1,1,1,4,0,0,4,0,2,0,1
1,1,1,0,0,1,2,4,0,4,3,0
2,1,0,1,0,1,2,4,0,2,3,0
3,1,0,0,4,1,2,4,0,1,3,0
4,1,0,1,3,1,2,4,0,3,3,0

In [4]:
X = df.drop('survived',axis=1)
y = df['survived']

In [5]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [6]:
# Create a StandardScater model and fit it to the training data

from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [7]:
# Transform the training and testing data using the X_scaler

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(kernel='linear')

In [9]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.808

In [12]:
# Calculate classification report
target_names = ['Survived','Died']
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

    Survived       0.82      0.87      0.84       195
        Died       0.79      0.71      0.75       133

    accuracy                           0.81       328
   macro avg       0.80      0.79      0.80       328
weighted avg       0.81      0.81      0.81       328