In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import pandas as pd

In [5]:
df = pd.read_csv('titanic_data/processed_data.csv')
df.head()

,pclass,survived,sex,age,sibsp,parch,fare,embarked,Title,relatives,not_alone
0,1,1,1,4,0,0,4,0,2,0,1
1,1,1,0,0,1,2,4,0,4,3,0
2,1,0,1,0,1,2,4,0,2,3,0
3,1,0,0,4,1,2,4,0,1,3,0
4,1,0,1,3,1,2,4,0,3,3,0

In [6]:
X = df.drop('survived',axis=1)
y = df['survived']

In [7]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
# Create a StandardScater model and fit it to the training data

from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train.values.reshape(-1,1))

In [15]:
# Transform the training and testing data using the X_scaler

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train.values.reshape(-1,1))
y_test_scaled = y_scaler.transform(y_test.values.reshape(-1,1))

In [16]:
# Support vector machine linear classifier
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_scaled, y_train_scaled)

LinearRegression()

In [18]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test_scaled, y_test_scaled))

Test Acc: 0.389