In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import pandas as pd

In [2]:
df = pd.read_csv('../static/data/processed_data.csv')
df.head()

,Unnamed: 0,pclass,survived,sex,age,sibsp,parch,fare,embarked,Title,relatives,not_alone
0,0,1,1,1,4,0,0,4,0,2,0,1
1,1,1,1,0,0,1,2,4,0,4,3,0
2,2,1,0,1,0,1,2,4,0,2,3,0
3,3,1,0,0,4,1,2,4,0,1,3,0
4,4,1,0,1,3,1,2,4,0,3,3,0

In [3]:
df =  df.drop(['sibsp','parch','not_alone'],axis=1)

In [4]:
df.head(3)

   Unnamed: 0  pclass  survived  sex  age  fare  embarked  Title  relatives
0           0       1         1    1    4     4         0      2          0
1           1       1         1    0    0     4         0      4          3
2           2       1         0    1    0     4         0      2          3

In [15]:
df.dtypes

Unnamed: 0    int64
pclass        int64
survived      int64
sex           int64
age           int64
fare          int64
embarked      int64
Title         int64
relatives     int64
dtype: object

In [5]:
X = df.drop('survived',axis=1)
y = df['survived']

In [6]:
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier()
model.fit(X,y)

#use inbuilt class feature_importances of tree based classifiers
print(model.feature_importances_)

[0.36959755 0.0649555  0.19152191 0.09363871 0.07487137 0.03460951
 0.10418473 0.06662071]

In [7]:
#  Set features on the basis of importance
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
X = df[feat_importances.index]
Y = df['survived']

In [8]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [9]:
# Create a StandardScater model and fit it to the training data

from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [10]:
# Transform the training and testing data using the X_scaler

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train_scaled, y_train)
clf.score(X_test_scaled, y_test)

0.7652439024390244

In [12]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=700)
rf = rf.fit(X_train_scaled, y_train)
rf.score(X_test_scaled, y_test)

0.7987804878048781

In [13]:
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier(n_estimators=700)
gb = gb.fit(X_train_scaled, y_train)
gb.score(X_test_scaled, y_test)

0.7835365853658537

In [14]:
import pickle

with open('SOT_Trees.pkl', 'wb') as f:
    pickle.dump(rf, f)