In [4]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(42)

In [5]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import pandas as pd

In [6]:
df = pd.read_csv('../titanic_data/processed_data.csv')
df.head()

,Unnamed: 0,pclass,survived,sex,age,sibsp,parch,fare,embarked,Title,relatives,not_alone
0,0,1,1,1,4,0,0,4,0,2,0,1
1,1,1,1,0,0,1,2,4,0,4,3,0
2,2,1,0,1,0,1,2,4,0,2,3,0
3,3,1,0,0,4,1,2,4,0,1,3,0
4,4,1,0,1,3,1,2,4,0,3,3,0

In [7]:
X = df.drop('survived',axis=1)
y = df['survived']

In [8]:
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier()
model.fit(X,y)

#use inbuilt class feature_importances of tree based classifiers
print(model.feature_importances_)

[0.35784096 0.06884111 0.19864688 0.09147128 0.02505053 0.01859846
 0.06529274 0.03501334 0.09716068 0.02859437 0.01348964]

In [9]:
#  Set features on the basis of importance
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
X = df[feat_importances.index]
Y = df['survived']

In [10]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
# Create a StandardScater model and fit it to the training data

from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [12]:
# Transform the training and testing data using the X_scaler

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC()
model.fit(X_train_scaled, y_train)

SVC()

In [14]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test_scaled, y_test))

Test Acc: 0.811

In [15]:
# Calculate classification report
target_names = ['Survived','Died']
from sklearn.metrics import classification_report
predictions = model.predict(X_test_scaled)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

    Survived       0.79      0.93      0.85       195
        Died       0.87      0.63      0.73       133

    accuracy                           0.81       328
   macro avg       0.83      0.78      0.79       328
weighted avg       0.82      0.81      0.80       328