In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import pandas as pd

In [2]:
df = pd.read_csv('../titanic_data/processed_data.csv')
df.head()

,Unnamed: 0,pclass,survived,sex,age,sibsp,parch,fare,embarked,Title,relatives,not_alone
0,0,1,1,1,4,0,0,4,0,2,0,1
1,1,1,1,0,0,1,2,4,0,4,3,0
2,2,1,0,1,0,1,2,4,0,2,3,0
3,3,1,0,0,4,1,2,4,0,1,3,0
4,4,1,0,1,3,1,2,4,0,3,3,0

In [3]:
X = df.drop('survived',axis=1)
y = df['survived']

In [4]:
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier()
model.fit(X,y)

#use inbuilt class feature_importances of tree based classifiers
print(model.feature_importances_)

[0.36430661 0.06542499 0.1792187  0.08911077 0.02478955 0.01868155
 0.06491137 0.03423864 0.11650238 0.03012493 0.01269051]

In [5]:
#  Set features on the basis of importance
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
X = df[feat_importances.index]
Y = df['survived']

In [6]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [7]:
# Create a StandardScater model and fit it to the training data

from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [8]:
# Transform the training and testing data using the X_scaler

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train_scaled, y_train)
clf.score(X_test_scaled, y_test)

0.7621951219512195

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=700)
rf = rf.fit(X_train_scaled, y_train)
rf.score(X_test_scaled, y_test)

0.7926829268292683

In [11]:
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier(n_estimators=700)
gb = gb.fit(X_train_scaled, y_train)
gb.score(X_test_scaled, y_test)

0.7774390243902439