In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import pandas as pd

In [5]:
df = pd.read_csv('../titanic_data/processed_data.csv')
df.head()

,Unnamed: 0,pclass,survived,sex,age,sibsp,parch,fare,embarked,Title,relatives,not_alone
0,0,1,1,1,4,0,0,4,0,2,0,1
1,1,1,1,0,0,1,2,4,0,4,3,0
2,2,1,0,1,0,1,2,4,0,2,3,0
3,3,1,0,0,4,1,2,4,0,1,3,0
4,4,1,0,1,3,1,2,4,0,3,3,0

In [6]:
X = df.drop('survived',axis=1)
y = df['survived']

In [7]:
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier()
model.fit(X,y)

#use inbuilt class feature_importances of tree based classifiers
print(model.feature_importances_)

[0.36422517 0.063458   0.19611807 0.08912924 0.02607855 0.01919358
 0.0625686  0.03598727 0.09799102 0.03137438 0.01387611]

In [8]:
#  Set features on the basis of importance
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
X = df[feat_importances.index]
Y = df['survived']

In [9]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [10]:
# Create a StandardScater model and fit it to the training data
# as y is already binary

from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [11]:
# Transform the training and testing data using the X_scaler

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Support vector machine linear classifier
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train_scaled, y_train)

LogisticRegression()

In [13]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test_scaled, y_test))

Test Acc: 0.826